In [1]:
# %pip install tensorflow_data_validation

In [2]:
import os
for dirname, _, filenames in os.walk('data'):
    for filename in filenames:
        print(os.path.join(dirname, filename))

In [3]:
train_df_path = os.path.join("data/raw","marketing_campaign.csv")
print(train_df_path)

data/raw/marketing_campaign.csv

In [4]:
import pandas as pd

# Load dataset 
df = pd.read_csv(train_df_path, sep='\t')
df.head()

,ID,Year_Birth,Education,Marital_Status,Income,Kidhome,Teenhome,Dt_Customer,Recency,MntWines,...,NumWebVisitsMonth,AcceptedCmp3,AcceptedCmp4,AcceptedCmp5,AcceptedCmp1,AcceptedCmp2,Complain,Z_CostContact,Z_Revenue,Response
0,5524,1957,Graduation,Single,58138.0,0,0,04-09-2012,58,635,...,7,0,0,0,0,0,0,3,11,1
1,2174,1954,Graduation,Single,46344.0,1,1,08-03-2014,38,11,...,5,0,0,0,0,0,0,3,11,0
2,4141,1965,Graduation,Together,71613.0,0,0,21-08-2013,26,426,...,4,0,0,0,0,0,0,3,11,0
3,6182,1984,Graduation,Together,26646.0,1,0,10-02-2014,26,11,...,6,0,0,0,0,0,0,3,11,0
4,5324,1981,PhD,Married,58293.0,1,0,19-01-2014,94,173,...,5,0,0,0,0,0,0,3,11,0

In [5]:
df.shape

(2240, 29)

In [6]:
df.columns

Index(['ID', 'Year_Birth', 'Education', 'Marital_Status', 'Income', 'Kidhome',
       'Teenhome', 'Dt_Customer', 'Recency', 'MntWines', 'MntFruits',
       'MntMeatProducts', 'MntFishProducts', 'MntSweetProducts',
       'MntGoldProds', 'NumDealsPurchases', 'NumWebPurchases',
       'NumCatalogPurchases', 'NumStorePurchases', 'NumWebVisitsMonth',
       'AcceptedCmp3', 'AcceptedCmp4', 'AcceptedCmp5', 'AcceptedCmp1',
       'AcceptedCmp2', 'Complain', 'Z_CostContact', 'Z_Revenue', 'Response'],
      dtype='object')

In [7]:
col = ['Year_Birth', 'Education', 'Marital_Status', 'Income', 'Kidhome','Dt_Customer', 'Recency', 'MntWines', 'MntFruits',
       'MntMeatProducts', 'MntFishProducts', 'MntSweetProducts',
       'MntGoldProds', 'NumDealsPurchases', 'NumWebPurchases',
       'NumCatalogPurchases', 'NumStorePurchases', 'NumWebVisitsMonth']

df = df[col]
df.head()

,Year_Birth,Education,Marital_Status,Income,Kidhome,Dt_Customer,Recency,MntWines,MntFruits,MntMeatProducts,MntFishProducts,MntSweetProducts,MntGoldProds,NumDealsPurchases,NumWebPurchases,NumCatalogPurchases,NumStorePurchases,NumWebVisitsMonth
0,1957,Graduation,Single,58138.0,0,04-09-2012,58,635,88,546,172,88,88,3,8,10,4,7
1,1954,Graduation,Single,46344.0,1,08-03-2014,38,11,1,6,2,1,6,2,1,1,2,5
2,1965,Graduation,Together,71613.0,0,21-08-2013,26,426,49,127,111,21,42,1,8,2,10,4
3,1984,Graduation,Together,26646.0,1,10-02-2014,26,11,4,20,10,3,5,2,2,0,4,6
4,1981,PhD,Married,58293.0,1,19-01-2014,94,173,43,118,46,27,15,5,5,3,6,5

In [8]:
print(df.shape)

(2240, 18)

In [9]:
## Data Split

# parase pandas datetime type on Dt_Customer
df['Dt_Customer'] = pd.to_datetime(df['Dt_Customer'], format="%d-%m-%Y")

# get the minimum and maximum dates in your date column
min_date = df['Dt_Customer'].min()
max_date = df['Dt_Customer'].max()

# print out the range of dates
print('Date Range: {} - {}'.format(min_date, max_date))

Date Range: 2012-07-30 00:00:00 - 2014-06-29 00:00:00

In [10]:
# set the date column as the index
df.set_index('Dt_Customer', inplace=True)

# group the DataFrame by yearly frequency
years = df.groupby(pd.Grouper(freq = 'Y'))

# print out the data for each quarter
datasets = []
for i, (year,data) in enumerate(years):
  datasets.append(data)

In [11]:
datasets

[             Year_Birth   Education Marital_Status   Income  Kidhome  Recency  \
 Dt_Customer
 2012-07-30         1970         PhD        Married  55158.0        1       72
 2012-07-31         1950    2n Cycle       Together  52203.0        0       36
 2012-08-01         1976  Graduation        Married   7500.0        1       19
 2012-08-01         1959      Master       Together  82576.0        0       66
 2012-08-01         1985    2n Cycle       Together   7500.0        1       98
 ...                 ...         ...            ...      ...      ...      ...
 2012-12-30         1989  Graduation         Single  30279.0        1       13
 2012-12-30         1959         PhD       Divorced  62859.0        0       37
 2012-12-30         1969      Master       Together  41021.0        1       12
 2012-12-30         1971  Graduation        Married  52531.0        0       68
 2012-12-31         1990  Graduation        Married  18222.0        0       70

              MntWines  MntFruits  MntMeatProducts  MntFishProducts  \
 Dt_Customer
 2012-07-30        293          0               87                4
 2012-07-31        488         21              238               56
 2012-08-01          7          0               12               13
 2012-08-01       1206         55              445              168
 2012-08-01          5         17               17               13
 ...               ...        ...              ...              ...
 2012-12-30         10          4               14                4
 2012-12-30       1063         89              102               16
 2012-12-30         14          7                9                6
 2012-12-30        283        112              151               51
 2012-12-31         12          4               19               12

              MntSweetProducts  MntGoldProds  NumDealsPurchases  \
 Dt_Customer
 2012-07-30                 11            23                  4
 2012-07-31                108            28                  1
 2012-08-01                  7            32                  5
 2012-08-01                 18            18                  1
 2012-08-01                 14            34                  4
 ...                       ...           ...                ...
 2012-12-30                  4             1                  1
 2012-12-30                 12            25                  4
 2012-12-30                 16            12                  2
 2012-12-30                 72           125                  2
 2012-12-31                  6            14                  1

              NumWebPurchases  NumCatalogPurchases  NumStorePurchases  \
 Dt_Customer
 2012-07-30                 7                    2                  5
 2012-07-31                 8                    7                 11
 2012-08-01                 4                    1                  2
 2012-08-01                 2                    4                 12
 2012-08-01                 2                    1                  3
 ...                      ...                  ...                ...
 2012-12-30                 1                    0                  3
 2012-12-30                 9                    4                  6
 2012-12-30                 2                    0                  3
 2012-12-30                 7                    2                 10
 2012-12-31                 2                    0                  3

              NumWebVisitsMonth
 Dt_Customer
 2012-07-30                   7
 2012-07-31                   6
 2012-08-01                   9
 2012-08-01                   1
 2012-08-01                   9
 ...                        ...
 2012-12-30                   8
 2012-12-30                   6
 2012-12-30                   6
 2012-12-30                   6
 2012-12-31                   8

 [494 rows x 17 columns],
              Year_Birth   Education Marital_Status   Income  Kidhome  Recency  \
 Dt_Customer
 2013-01-01         1956      Master       Together  14661.0        0       88
 2013-01-01         1964  Graduation        Married  40800.0        1       77
 2013-01-01         1971  Graduation       Together  34600.0        1        8
 2013-01-01         1971  Graduation       Together  34600.0        1        8
 2013-01-02         1969  Graduation         Single  18589.0        0       89
 ...                 ...         ...            ...      ...      ...      ...
 2013-12-30         1982    2n Cycle         Single  74116.0        0       53
 2013-12-30         1975  Graduation         Single  56243.0        1       26
 2013-12-31         1970         PhD        Married  67353.0        0       37
 2013-12-31         1972         PhD       Together  83443.0        0       89
 2013-12-31         1958      Master        Married  51412.0        0       42

              MntWines  MntFruits  MntMeatProducts  MntFishProducts  \
 Dt_Customer
 2013-01-01          4          1               11                6
 2013-01-01         24          0               27                8
 2013-01-01        199         33               60                8
 2013-01-01        199         33               60                8
 2013-01-02          6          4               25               15
 ...               ...        ...              ...              ...
 2013-12-30        871        111              704              145
 2013-12-30        347          0               35                4
 2013-12-31        702         17              151                0
 2013-12-31        518         42              742               55
 2013-12-31        140          3               29                4

              MntSweetProducts  MntGoldProds  NumDealsPurchases  \
 Dt_Customer
 2013-01-01                  2             2                  1
 2013-01-01                 30            10                  2
 2013-01-01                  3            15                  5
 2013-01-01                  3            15                  5
 2013-01-02                 12            13                  2
 ...                       ...           ...                ...
 2013-12-30                 55           166                  1
 2013-12-30                  3             7                  6
 2013-12-31                  8            35                  5
 2013-12-31                 56            84                  1
 2013-12-31                  5            14                  2

              NumWebPurchases  NumCatalogPurchases  NumStorePurchases  \
 Dt_Customer
 2013-01-01                 1                    0                  3
 2013-01-01                 3                    0                  3
 2013-01-01                 5                    2                  5
 2013-01-01                 5                    2                  5
 2013-01-02                 2                    1                  3
 ...                      ...                  ...                ...
 2013-12-30                 4                    4                 10
 2013-12-30                 4                    2                  8
 2013-12-31                 5                    6                 12
 2013-12-31                 6                   10                  5
 2013-12-31                 3                    2                  4

              NumWebVisitsMonth
 Dt_Customer
 2013-01-01                   6
 2013-01-01                   7
 2013-01-01                   8
 2013-01-01                   8
 2013-01-02                   7
 ...                        ...
 2013-12-30                   2
 2013-12-30                   5
 2013-12-31                   2
 2013-12-31                   2
 2013-12-31                   4

 [1189 rows x 17 columns],
              Year_Birth   Education Marital_Status   Income  Kidhome  Recency  \
 Dt_Customer
 2014-01-01         1951  Graduation         Single      NaN        2       96
 2014-01-01         1964  Graduation        Married  60597.0        0        2
 2014-01-01         1950         PhD         Single  48767.0        1       79
 2014-01-02         1979  Graduation         Single  70337.0        0       75
 2014-01-02         1978  Graduation        Married  64813.0        1       81
 ...                 ...         ...            ...      ...      ...      ...
 2014-06-28         1976  Graduation         Single  79941.0        0       72
 2014-06-28         1954         PhD        Married  70421.0        0       98
 2014-06-28         1969      Master        Married  79734.0        0       72
 2014-06-29         1952  Graduation       Divorced  69142.0        0       50
 2014-06-29         1956         PhD          Widow  35340.0        1        1

              MntWines  MntFruits  MntMeatProducts  MntFishProducts  \
 Dt_Customer
 2014-01-01         48          5               48                6
 2014-01-01        522          0              257               32
 2014-01-01         28          1               21                3
 2014-01-02        187         81              149               25
 2014-01-02        293          0              124              179
 ...               ...        ...              ...              ...
 2014-06-28        123        164              266              227
 2014-06-28        479         28              136               75
 2014-06-28        572          8              232               23
 2014-06-29        448          4               34                6
 2014-06-29         27          0               12                0

              MntSweetProducts  MntGoldProds  NumDealsPurchases  \
 Dt_Customer
 2014-01-01                 10             7                  3
 2014-01-01                 16            66                  4
 2014-01-01                  0            10                  3
 2014-01-02                 43            91                  1
 2014-01-02                 97            52                  1
 ...                       ...           ...                ...
 2014-06-28                 30           174                  1
 2014-06-28                 14            35                  3
 2014-06-28                 62            17                  1
 2014-06-29                  4            39                  3
 2014-06-29                  1             5                  2

              NumWebPurchases  NumCatalogPurchases  NumStorePurchases  \
 Dt_Customer
 2014-01-01                 2                    1                  4
 2014-01-01                 2                    2                  8
 2014-01-01                 2                    1                  3
 2014-01-02                 2                    2                 12
 2014-01-02                 7                    2                 10
 ...                      ...                  ...                ...
 2014-06-28                 2                    4                  9
 2014-06-28                10                    3                  7
 2014-06-28                 4                    3                  6
 2014-06-29                 8                    1                  7
 2014-06-29                 2                    0                  3

              NumWebVisitsMonth
 Dt_Customer
 2014-01-01                   6
 2014-01-01                   7
 2014-01-01                   5
 2014-01-02                   1
 2014-01-02                   5
 ...                        ...
 2014-06-28                   1
 2014-06-28                   6
 2014-06-28                   1
 2014-06-29                   5
 2014-06-29                   5

 [557 rows x 17 columns]]

In [12]:
# get the 2012 costumers and drop the index
early_data = datasets[0]
early_data = early_data.reset_index(drop=True)
# get the 2014 costumers and drop the index
latest_data = datasets[-1]
latest_data = latest_data.reset_index(drop=True)

In [13]:
import random

def future_marital_status(v):
  '''
  Increase the number of married customers by 20%
  '''

  if v == "Married":
    return v
  else:
    coin_toss = random.uniform(0,1)
    if coin_toss > 0.2:
       return v
    return "Married"

# increase income by 20-30% for 2014 costumers
latest_data['Income'] = latest_data['Income'].apply(lambda v: v * (1 + random.uniform(.2, .3)))

# increase the number of married costumers in 2014 by 20%
latest_data['Marital_Status'] = latest_data['Marital_Status'].apply(future_marital_status)

In [14]:
import tensorflow as tf
import tensorflow_data_validation as tfdv
import pandas as pd
# generate statistics for 2012 
early_data_stats = tfdv.generate_statistics_from_dataframe(early_data)
# generate statistics for 2014
latest_data_stats = tfdv.generate_statistics_from_dataframe(latest_data)
# visualize statistics
tfdv.visualize_statistics(early_data_stats)

2023-04-27 12:40:44.996448: I tensorflow/core/platform/cpu_feature_guard.cc:182] This TensorFlow binary is optimized to use available CPU instructions in performance-critical operations.
To enable the following instructions: AVX2 FMA, in other operations, rebuild TensorFlow with the appropriate compiler flags.

In [15]:
## Visualizing Schema

# infer schema from the statistics 

early_data_schema = tfdv.infer_schema(statistics = early_data_stats)

#display the schema
tfdv.display_schema(schema=early_data_schema)

                         Type  Presence Valency            Domain
Feature name
'Year_Birth'              INT  required                         -
'Education'            STRING  required               'Education'
'Marital_Status'       STRING  required          'Marital_Status'
'Income'                FLOAT  optional  single                 -
'Kidhome'                 INT  required                         -
'Recency'                 INT  required                         -
'MntWines'                INT  required                         -
'MntFruits'               INT  required                         -
'MntMeatProducts'         INT  required                         -
'MntFishProducts'         INT  required                         -
'MntSweetProducts'        INT  required                         -
'MntGoldProds'            INT  required                         -
'NumDealsPurchases'       INT  required                         -
'NumWebPurchases'         INT  required                         -
'NumCatalogPurchases'     INT  required                         -
'NumStorePurchases'       INT  required                         -
'NumWebVisitsMonth'       INT  required                         -

                                                                                  Values
Domain
'Education'                           '2n Cycle', 'Basic', 'Graduation', 'Master', 'PhD'
'Marital_Status'  'Absurd', 'Divorced', 'Married', 'Single', 'Together', 'Widow', 'YOLO'

In [16]:

## Modifying Schema

from tensorflow_metadata.proto.v0 import schema_pb2
# add range contraint to the year birth feature 
tfdv.set_domain(early_data_schema, 'Year_Birth', schema_pb2.IntDomain(name="Year_Birth", min=1900, max=2015))
# make income feature required
tfdv.get_feature(early_data_schema, "Income").presence.min_fraction = 1
# dispaly the new schema
tfdv.display_schema(schema=early_data_schema)

                         Type  Presence Valency                Domain
Feature name
'Year_Birth'              INT  required          min: 1900; max: 2015
'Education'            STRING  required                   'Education'
'Marital_Status'       STRING  required              'Marital_Status'
'Income'                FLOAT  required  single                     -
'Kidhome'                 INT  required                             -
'Recency'                 INT  required                             -
'MntWines'                INT  required                             -
'MntFruits'               INT  required                             -
'MntMeatProducts'         INT  required                             -
'MntFishProducts'         INT  required                             -
'MntSweetProducts'        INT  required                             -
'MntGoldProds'            INT  required                             -
'NumDealsPurchases'       INT  required                             -
'NumWebPurchases'         INT  required                             -
'NumCatalogPurchases'     INT  required                             -
'NumStorePurchases'       INT  required                             -
'NumWebVisitsMonth'       INT  required                             -

                                                                                  Values
Domain
'Education'                           '2n Cycle', 'Basic', 'Graduation', 'Master', 'PhD'
'Marital_Status'  'Absurd', 'Divorced', 'Married', 'Single', 'Together', 'Widow', 'YOLO'

In [17]:
income = tfdv.get_feature(early_data_schema, 'Income')
income.drift_comparator.jensen_shannon_divergence.threshold = 0.1

martial_status = tfdv.get_feature(early_data_schema, 'Marital_Status')
martial_status.drift_comparator.infinity_norm.threshold = 0.1
martial_status.distribution_constraints.min_domain_mass = 0.9

In [18]:
## Visualizing Anomalies

# overlay both statistics on top of each other.
tfdv.visualize_statistics(lhs_statistics=early_data_stats, rhs_statistics=latest_data_stats,
                          lhs_name='2012', rhs_name='2014')

In [19]:
# detect anomalies
drift_anomalies = tfdv.validate_statistics(latest_data_stats, schema=early_data_schema, previous_statistics= early_data_stats)
# display the differences between the two datasets
tfdv.display_anomalies(drift_anomalies)

,Anomaly short description,Anomaly long description
Feature name,,
'Marital_Status',High Linfty distance between current and previous,"The Linfty distance between current and previous is 0.156009 (up to six significant digits), above the threshold 0.1. The feature value with maximum difference is: Married"
'Year_Birth',Out-of-range values,Unexpectedly small value: 1893.
'Income',Multiple errors,"The feature was present in fewer examples than expected: minimum fraction = 1.000000, actual = 0.992819 The approximate Jensen-Shannon divergence between current and previous is 0.118189 (up to six significant digits), above the threshold 0.1."

In [30]:
from tensorflow.python.lib.io import file_io
# from google.protobuf import text_format

schema_path = "/schema-stats/schema.txtpb"
stats_path = "/schema-stats/data_stats.txtpb"
# save schema to file 
tfdv.write_schema_text(early_data_schema, schema_path)
# save statistics to file
tfdv.write_stats_text(early_data_stats, stats_path)

In [27]:
def detect_data_drift(new_data: pd.DataFrame, schema_path:str, previous_stats_path: str) -> bool:
    """
     compare new data statistics with baseline data.
    """

    previous_stats = tfdv.load_stats_text(previous_stats_path)
    schema = tfdv.load_schema_text(schema_path)
    options = tfdv.StatsOptions(schema=schema, infer_type_from_schema=True)
    new_stats = tfdv.generate_statistics_from_dataframe(new_data, stats_options=options)
    drift_anomalies = tfdv.validate_statistics(new_stats, schema=schema, previous_statistics=previous_stats)
    drift_detected = len(drift_anomalies.anomaly_info) > 0

    return drift_detected, drift_anomalies

In [28]:
drift_detected, drift_anomalies = detect_data_drift(latest_data, schema_path, stats_path)
if drift_detected:
  print("stop pipeline")
else:
  print("proceed")

stop pipeline